.article {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 400px;
  // background-image: url('../img/article/img_001.jpg');
  background-size: cover;
  background-position: center center;
  filter: grayscale(100%);
  @include transition(all .2s linear);
  &:hover {
    filter: grayscale(0);
    cursor: pointer;
  }
  .article__card {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #000;
  }
}
