.footer {
  .footer__txt {
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    // Small devices layout
    @include media-breakpoint-down(sm) {
      span {
        display: block;
        line-height: 1.5;
        font-size: 1.1rem;
      }
    }
  }
}
