.form {
  margin-top: 15px;
  .form__caption {
    line-height: 1.5;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
  }
  .form__input {
    margin-top: 22px;
    // Small devices layout
    @include media-breakpoint-down(sm) {
      margin-top: 8px;
      .input {
        margin-top: 10px;
      }
    }
  }
  .form__textarea {
    margin-top: 16px;
    height: 154px;
    // Small devices layout
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }
  }
  .form__btn {
    margin: 17px auto 0;
    max-width: 355px;
    // Small devices layout
    @include media-breakpoint-down(sm) {
      margin: 10px 0 0;
      max-width: 100%;
    }
  }
}

// input
// textarea
.input,
.textarea {
  padding: 15px 13px 16px;
  width: 100%;
  line-height: 1;
  font-size: 1.4rem;
  border: 1px solid #fff;
  background-color: #333;
  color: #fff;
  @include input-placeholder {
    position: relative;
    top: 3px;
    color: rgba(255, 255, 255, .3);
  }
  // Small devices layout
  @include media-breakpoint-down(sm) {
    padding: 12px 8px 13px;
    font-size: 1.2rem;
  }
}

// textarea
.textarea {
  height: 100%;
  line-height: 1.5;
  @include input-placeholder {
    top: 0;
  }
}
