.company-list {
  margin-top: 30px;
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.5;
  dt {
    float: left;
  }
}

.social-list {
  margin: 45px auto 0;
  width: 165px;
  @include pie-clearfix();
  > li {
    float: left;
    margin-left: 35px;
    &:first-child {
      margin-left: 0;
    }
  }
  // Small devices layout
  @include media-breakpoint-down(sm) {
    margin-top: 15px;
  }
}
